.container{
    padding-top: 28px;
    width: 100%;
    height: 550px;
}
.videoContainer{
    position: relative;
    width: 800px;
    margin: auto;
    z-index: 0;
    overflow: hidden;
}
video{
    width: 100%;
    height: 100%;
}
.videoDescription {
    position: absolute;
    bottom:30px;
    left:35px;
    width: 90%;;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.videoNumber{
    color: white;
    font-size: 22px;
    text-align: center;
    line-height: 2px;
    background-color: rgb(95, 212, 248);
    width:10%;
}
p.number {
    padding-top: 10px;
}
.videoBrief{
    background-color: rgba(0, 0, 0, 0.705);
    width: 100%;
    font-size: 18px;
    color:white;

    overflow: hidden;
    white-space: nowrap;  
}
p.brief {
    margin: 10px 0 0 5px;
}
.slideEnter {
    animation-duration: 0.7s;
    animation-name: enter;
}
.playButton {
    position: absolute;
    left: 350px;
    top: 170px;
    height: 100px;
    width: 100px;
    color:white;
}
.buttonAnimation {
    animation-duration: 15s;
    animation-name: buttonAppear;
}
.numberAnimation {
    animation-duration: 15s;
    animation-name: numberAnimation;
}
.numberDivAnimation {
    animation-name: numberDivAppear;
    animation-duration: 15s;
}
.briefAnimation {
    animation-name: briefApper;
    animation-duration: 15s;
}

